html{
    background-color: black;
    color: white;
    text-align: center;
}

.mainTitle{
    text-align: center;
}

.userGame, .pcGame{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    width: 80%;
}

img{
    background-color: white;
    transform: scale(0.3);
}

h3{
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 30px;
}

footer{
    text-align: center;
}
