    body{
        height: 100%;
        text-align:center;
        color:yellow;
    }
    
    form{
        width: 50%;
        height: 300px;
        margin:10px auto;
    }
    
    input {
        font-size: 2em;
        color: black;
    }
    
    #carousel-example-generic {
         margin: 0 auto;   
         width: 700px;
    }